<h2>Edit Booking</h2>

<%= form_for @booking, html: { id: 'booking-form' } do |f| %>
  <div class="form-group">
    <%= f.label :hotel_id, "Hotel Name" %>
    <%= f.collection_select :hotel_id, Hotel.all, :id, :name, { prompt: 'Select a Hotel' }, class: 'form-control', id: 'booking_hotel_id' %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control', id: 'booking_price' %>
  </div>

  <div class="form-group">
    <%= f.label :currency %>
    <%= f.text_field :currency, class: 'form-control', id: 'booking_currency' %>
  </div>

  <div class="form-group">
    <%= f.label :arrival_date %>
    <%= f.date_field :arrival_date, class: 'form-control', id: 'booking_arrival_date', min: Date.today %>
  </div>

  <div class="form-group">
    <%= f.label :departure_date %>
    <%= f.date_field :departure_date, class: 'form-control', id: 'booking_departure_date', min: Date.today %>
  </div>

  <div class="form-group">
    <%= f.label :guest_name %>
    <%= f.text_field :guest_name, class: 'form-control', id: 'booking_guest_name' %>
  </div>

  <div class="form-group">
    <%= f.label :guest_email %>
    <%= f.email_field :guest_email, class: 'form-control', id: 'booking_guest_email' %>
  </div>

  <div class="d-flex justify-content-end p-3">
    <%= f.submit "Update", style: "display: inline-flex; align-items: center; justify-content: center; height: 40px; width: 120px; padding: 10px 20px; text-align: center; font-size: 16px; background-color: #007bff; color: white; border: 1px solid transparent; border-radius: 4px; margin-right: 10px" %>
    <%= link_to 'Back', my_bookings_path, style: "display: inline-flex; align-items: center; justify-content: center; height: 40px; width: 120px; padding: 10px 20px; text-align: center; font-size: 16px; background-color: #6c757d; color: white; border: 1px solid transparent; border-radius: 4px;" %>
  </div>
<% end %>
