<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="profile-img">
          </div>
          <h4 class="card-title text-center"><%= @user.name %></h4>
          <p class="card-text text-center">PERSONAL PROFILE</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#">Profile</a></li>
            <li class="list-group-item"><a href="#">Login Details</a></li>
            <li class="list-group-item"><a href="#">Save Travellers</a></li>
            <li class="list-group-item"><a href="#">Logged In Devices</a></li>
            <li class="list-group-item"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Profile</h4>
          <p class="card-text">Basic info, for a faster booking experience</p>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Name</td>
                <td><%= @user.name %></td>
              </tr>
              <tr>
                <td>Birthday</td>
                <td><%= @user.birthday %></td>
              </tr>
              <tr>
                <td>Gender</td>
                <td><%= @user.gender %></td>
              </tr>
              <tr>
                <td>Marital Status</td>
                <td><a href="#">+ Add</a></td>
              </tr>
              <tr>
                <td>Your Address</td>
                <td><%= @user.address %></td>
              </tr>
              <tr>
                <td>Pincode</td>
                <td><%= @user.pincode %></td>
              </tr>
              <tr>
                <td>State</td>
                <td><%= @user.state %></td>
              </tr>
            </tbody>
          </table>
          <a href="#" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>
