<h4 class="card-title">Booking History</h4>
<p class="card-text">List of your bookings</p>
<div class="d-flex justify-content-end mb-3">
  <%= button_to 'New Booking', new_booking_path, method: :get, class: 'btn-primary btn-lg mb-3' %>
</div>

<% if @bookings.empty? %>
  <p>No bookings found.</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Booking ID</th>
        <th>Hotel Name</th>
        <th>Price</th>
        <th>Currency</th>
        <th>Arrival Date</th>
        <th>Departure Date</th>
        <th>Guest Name</th>
        <th>Guest Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.id.to_s[0, 7] %></td>
          <td><%= booking.hotel_name %></td>
          <td><%= booking.price %></td>
          <td><%= booking.currency %></td>
          <td><%= booking.arrival_date %></td>
          <td><%= booking.departure_date %></td>
          <td><%= booking.guest_name %></td>
          <td><%= booking.guest_email %></td>
          <td>
            <%= link_to edit_booking_path(booking), class: 'text-primary mr-2' do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to booking, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
