<h4 class="card-title">New Booking</h4>

<%= form_for @booking do |f| %>
  <div class="form-group">
    <%= f.label :hotel_name %>
    <%= f.text_field :hotel_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :currency %>
    <%= f.text_field :currency, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :arrival_date %><br />
    <%= f.date_field :arrival_date %>
  </div>

  <div class="field">
    <%= f.label :departure_date %><br />
    <%= f.date_field :departure_date %>
  </div>

  <div class="form-group">
    <%= f.label :guest_name %>
    <%= f.text_field :guest_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :guest_email %>
    <%= f.email_field :guest_email, class: 'form-control' %>
  </div>

  <%= f.submit 'Create Booking', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back', my_bookings_path, class: 'btn btn-secondary' %>
