<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 d-flex flex-column">
        <div class="card card-center flex-grow-1">
          <div class="card-body text-center">
            <div class="profile-img">
              <%= image_tag 'default_profile.jpg', class: 'img-fluid rounded-circle mb-3' %>
            </div>
            <h4 class="card-title"><%= current_user.name %></h4>
            <ul class="nav flex-column">
              <li class="nav-item">
                <%= link_to 'Profile', profile_path, class: "nav-link #{'active' if current_page?(profile_path)}" %></li>
              </li>
              <li class="nav-item">
                <%= link_to 'My Bookings', my_bookings_path, class: "nav-link #{'active' if current_page?(my_bookings_path)}" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9 d-flex flex-column">
        <div class="card card-center flex-grow-1">
          <div class="card-body">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

